<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="/static/lib/skeleton/normalize.css"/>
    <link rel="stylesheet" href="/static/lib/skeleton/skeleton.css"/>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div class="container">
    <ul class="navigation">
        <li class="navigation_item">
            <a href="/">Währungsrechner</a>
        </li>
        <li class="navigation_item">
            <a href="/namesinusa">NamesInUSA</a>
        </li>
    </ul>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>